<div class="content" role="main">
  <div class="gradient-border" id="box" style="margin-top: 120px;">Comprehensive <br>API Smartmod<br>Documentation
    Guide</div>
  <div class="container-responsive" style="width: 100%;">
    <div
      style="min-width: 280px;max-width: 500px;width: 49%;margin:auto;text-align: center;padding: 27px; float: left;">
      <img style="width: 250px;" src="https://smartmod-media-kratem.s3.amazonaws.com/2022/12/10-phone.png">
    </div>
    <div
      style="min-width: 280px;max-width: 500px;width: 49%;margin:auto;text-align: center;padding: 27px; float: right;">
      <h2>Resources</h2>
      <div>
        <p>Whether you're a beginner or an experienced developer, our documentation is crafted to ensure a smooth
          and
          efficient onboarding experience. <strong>Happy coding!</strong></p>
      </div>
    </div>
  </div>
  <div class="container-responsive" style="background-color: rgba(240, 248, 255, 0);">
    <div class="gradient-border" id="box" style="max-width: 140px; font-size: 1.2rem; height: 220px; margin: 18px;">
      <div style="width: 100%; height: 50px; text-align: center; font-size: 48px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" style="width: 80px;margin: -25px;">
          <path
            d="M418.4 157.9c35.3-8.3 61.6-40 61.6-77.9c0-44.2-35.8-80-80-80c-43.4 0-78.7 34.5-80 77.5L136.2 151.1C121.7 136.8 101.9 128 80 128c-44.2 0-80 35.8-80 80s35.8 80 80 80c12.2 0 23.8-2.7 34.1-7.6L259.7 407.8c-2.4 7.6-3.7 15.8-3.7 24.2c0 44.2 35.8 80 80 80s80-35.8 80-80c0-27.7-14-52.1-35.4-66.4l37.8-207.7zM156.3 232.2c2.2-6.9 3.5-14.2 3.7-21.7l183.8-73.5c3.6 3.5 7.4 6.7 11.6 9.5L317.6 354.1c-5.5 1.3-10.8 3.1-15.8 5.5L156.3 232.2z" />
        </svg>
      </div>
      <div style="width: 100%; font-weight: 100; font-size: 16px;">
        We understand the importance of flexibility in connectivity
      </div>
    </div>
    <div class="gradient-border" id="box" style="max-width: 140px; font-size: 1.2rem; height: 240px; margin: 18px;">
      <div style="width: 100%; height: 50px; text-align: center; font-size: 48px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" style="width: 80px;margin: -25px;">
          <path
            d="M176 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64c-35.3 0-64 28.7-64 64H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H64v56H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H64v56H24c-13.3 0-24 10.7-24 24s10.7 24 24 24H64c0 35.3 28.7 64 64 64v40c0 13.3 10.7 24 24 24s24-10.7 24-24V448h56v40c0 13.3 10.7 24 24 24s24-10.7 24-24V448h56v40c0 13.3 10.7 24 24 24s24-10.7 24-24V448c35.3 0 64-28.7 64-64h40c13.3 0 24-10.7 24-24s-10.7-24-24-24H448V280h40c13.3 0 24-10.7 24-24s-10.7-24-24-24H448V176h40c13.3 0 24-10.7 24-24s-10.7-24-24-24H448c0-35.3-28.7-64-64-64V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H280V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H176V24zM160 128H352c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H160c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32zm192 32H160V352H352V160z" />
        </svg>
      </div>
      <div style="width: 100%; font-weight: 100; font-size: 16px;">
        Wearable technology or smart devices, our solutions ensure seamless integration and reliable performance
      </div>
    </div>
    <div class="gradient-border" id="box" style="max-width: 140px; font-size: 1.2rem; height: 220px; margin: 18px;">
      <div style="width: 100%; height: 50px; text-align: center; font-size: 48px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" style="width: 80px;margin: -25px;">
          <path
            d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
        </svg>
      </div>
      <div style="width: 100%; font-weight: 100; font-size: 16px;">
        Set up alerts for your customers and enhance the value of your product.
      </div>
    </div>
  </div>

  <div style="margin-top: 120px; text-align: center;">
    <h2>Let's do it</h2>
    <p>To get started it is very simple, follow these steps.</p>

    <input type="hidden" #selection>
    <div class="card-container">
      <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Create your user</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Create a workspace</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Create your api key</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Add users to your workspace</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>Connect to the Mqtt broker</span>
      </button>

      <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        </svg>
        <span>View the data</span>
      </button>
    </div>
  </div>



  <div class="container-responsive" style="width: 100%; background-color: white; height: auto;">
    <div
      style="width:50%;right: left;text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;margin:auto; padding: 9px;">
      <h2 style="font-size: 2rem; color:gray;font-weight: 900;">Unleash the Flexibility and Power of Our IoT Tool
      </h2>
      <p style="font-size: 1.1rem; color:rgb(170, 169, 169);">Discover the unmatched flexibility and robust
        performance of our IoT tool. Designed to adapt to your specific needs, our platform empowers you to
        seamlessly connect, manage, and analyze your devices with ease. Harness the full potential of your IoT
        ecosystem and drive innovation with our cutting-edge solutions.
      </p>
    </div>
    <div style="width:45%;float:left;height: 350px;text-align: center; overflow: hidden;">
      <img style="height: 100%;margin-top: 18px;"
        src="https://smartmod-media-kratem.s3.amazonaws.com/2022/12/mockup-mano.png">
    </div>

  </div>


  <div class="container-responsive" style="background-color: rgba(128, 128, 128, 0);">
    <div id="box-responsive" style="width: 100%; height: 100%;">
      <!-- <h2>Resources</h2> -->
      <div>
        <p>At SmartMod, we're dedicated to enhancing your everyday experiences with our innovative solutions. Join
          us on the journey to a more connected and smarter future.
      </div>
    </div>
  </div>

  <div class="eae-particle-wrapper " id="eae-particle-7d520360"><canvas class="particles-js-canvas-el"
      style="width: 100%; height: 100%;" width="1583" height="848"></canvas></div>

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>